.Backgrounds {
  height: 50vh;
  position: absolute;
  width: 100%;

  &__background {
    background-attachment: fixed;
    background: lightgray 50% no-repeat;
    background-size: cover;
    height: 100%;
    opacity: 0;
    position: absolute;
    transition: opacity .5s;
    width: 100%;

    &--active {
      opacity: 1;
    }

    &--css {
      background-image: url('../../public/images/backgrounds/css.webp');
      background-position: 50% 40%;
    }

    &--intro {
      background-image: url('../../public/images/backgrounds/intro.webp');
      background-position: 50% 40%;
    }

    &--showcase {
      background-image: url('../../public/images/backgrounds/showcase.webp');
      background-position: 50% 40%;
    }

    &--sites {
      background-image: url('../../public/images/backgrounds/sites.webp');
      background-position: 50% 60%;
    }

    &--opinionated {
      background-image: url('../../public/images/backgrounds/opinionated.webp');
      background-position: 50% 80%;
    }

    &--teaching {
      background-image: url('../../public/images/backgrounds/teaching.webp');
    }
  }
}