<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta content="Jeffrey Carl Faden's personal website." name='Description'>
    <meta content='Jeffrey Carl Faden' name='author'>
    <meta content='JeffreyATW, web development, front-end, portfolio, blog' name='Keywords'>
    <link href='https://www.google.com/accounts/o8/ud?source=profiles' rel='openid2.provider'>
    <link href='http://www.google.com/profiles/jeffreyatw' rel='openid2.local_id'>
    <link href='http://www.livejournal.com/users/jeffreyatw/data/foaf' rel='meta' title='FOAF' type='application/rdf+xml'>
    <link href='//jeffreyatw.com/feed' rel='alternate' title='RSS' type='application/rss+xml'>
    <link href='//jeffreyatw.com/blog/feed/atom' rel='alternate' title='Atom' type='application/atom+xml'>

    <% css.forEach(function(file){ %>
    <link href="<%- file %>" rel="stylesheet">
    <% }); %>

    <meta property="og:title" content="JeffreyATW" />
    <meta property="og:description" content="Jeffrey Carl Faden's personal website.">
    <meta property="og:image" content="https://jeffreyatw.com/og-image.jpg" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@JeffreyATW">
    <meta name="twitter:creator" content="@JeffreyATW">

    <title>JeffreyATW</title>
  </head>
  <body>
    <div id="root"><%- app %></div>
    <% js.forEach(function(file){ %>
    <script src="<%- file %>" async></script>
    <% }); %>
  </body>
</html>
